*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    background-color: beige;
    position:relative;
    font-family: 'Times New Roman', Times, serif;
}
::selection{
    background-color: green;
    color: red;
}
.navbar{
    width: 100%;
    height: 105px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex; /*dạng hiển thị của navbar*/
    justify-content: space-between; /*căn chỉnh các mục khi không dùng hết chỗ trống của container theo chiều ngang*/
    align-items: center; /*căn chỉnh cho các mục trong navbar theo chiều dọc*/
    padding: 0 5vw; /*tạo padding*/
    background: white;
    z-index: 9; /*chỉ mục của navbar để không bị đè bởi content*/
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}
.links-container{
    display:flex;
    list-style: none; /*chỉnh style của link-container*/
}
.link{
    padding: 10px;
    margin-left: 15px;
    color:black;
}
.header{ 
    margin-top: 60px;
    width: 100%;
    height: calc(100vh - 60px); /*tính toán chiều cao từ 100% của khung nhìn tới còn 60px*/
    background: url(https://codelearn.io/Upload/Blog/3-dieu-can-tro-dan-cong-nghe-viet-blog-63714962161.5496.jpg);
    background-size: cover;
    display: flex; /*dạng hiển thị của ảnh*/
    justify-content: center; /*căn chỉnh ảnh khi không dùng hết chỗ trống của container theo chiều ngang*/
    align-items: center; /*căn chỉnh theo chiều dọc*/
}
.content{
    text-align: center; /*căn chỉnh chữ*/
}
.heading{  /*tiêu đề của trang*/
    color:black;
    text-shadow: 5px;
    text-transform: capitalize; /*đổi dạng chữ*/
    font-size: 80px;
    line-height: 40px;
    margin-bottom: 80px;
    display: block;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    padding: 10px 20px;
    border-radius: 15px 50px 30px; /*chỉnh góc của nút*/
    color: azure;
    background-color:black;
    text-shadow: 5px;
    text-transform: capitalize;
}
.blogs-section{
    width:100%;
    padding: 50px 5vw;
    display: grid; /*hiển thị blog theo dạng lưới*/
    grid-template-columns: repeat(2, 1fr); /*chia thành 2 cột với độ rộng 1fr*/
    grid-gap: 100px;
}
.blog-image{
    width: 100%;
    height: 50%;
    object-fit:scale-down;
    border-radius: 10px;
    margin-bottom: 10px;
}
.blog-overview{
    margin: auto;
    line-height: 50px;
    align-self: auto;
    padding-left: 30px;   
}
.blog-title{
    margin:auto;
    line-height: 80px;
    text-align: center; 
}
.btn.dark{
    line-height: 50px;
    background-color: brown;
    color:antiquewhite;
}