.banner{
    width: 100%;
    height:200px;
    position: relative;
    background-color:beige;
    background-size: cover;
    background-position: center;
}
.banner-upload-btn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height:30px;
    border-radius: 50%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.banner-upload-btn img{
    width: 30px;
}

.hidden {
    opacity: 0;
}
.upload-description{
    position: absolute;
    bottom: 25px;
    right: 60px;
    line-height: 5px;
    text-align: left;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
}
.blog{
    width: 80w;    
    height: 70vh;
    display: block;
    margin:auto;
    padding: 50px;
}
.textarea
{
    width : 100%;
    height: 10vh;    
}
.textarea1
{
    width: 100%;
    height: 60vh;
}

